# replace_and_change_datatype

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_sets/loan_data_set.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            616 non-null    object
 1   Gender             603 non-null    object
 2   Married            613 non-null    object
 3   Dependents         601 non-null    object
 4   Education          616 non-null    object
 5   Self_Employed      584 non-null    object
 6   ApplicantIncome    616 non-null    int64
 7   CoapplicantIncome  616 non-null    float64
 8   LoanAmount         594 non-null    float64
 9   Loan_Amount_Term   602 non-null    float64
 10  Credit_History     566 non-null    float64
 11  Property_Area      616 non-null    object
 12  Loan_Status        616 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.7+ KB

In [4]:
df["Dependents"].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [ ]:
df["Dependents"] = df["Dependents"].fillna(df["Dependents"].mode()[0]) # remove NaN values
df["Dependents"].unique()

array(['0', '1', '2', '3+'], dtype=object)

In [ ]:
df["Dependents"] = df["Dependents"].replace({"3+": 3}).astype(int) 
df["Dependents"].unique()

array([0, 1, 2, 3])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            616 non-null    object
 1   Gender             603 non-null    object
 2   Married            613 non-null    object
 3   Dependents         616 non-null    int64
 4   Education          616 non-null    object
 5   Self_Employed      584 non-null    object
 6   ApplicantIncome    616 non-null    int64
 7   CoapplicantIncome  616 non-null    float64
 8   LoanAmount         594 non-null    float64
 9   Loan_Amount_Term   602 non-null    float64
 10  Credit_History     566 non-null    float64
 11  Property_Area      616 non-null    object
 12  Loan_Status        616 non-null    object
dtypes: float64(4), int64(2), object(7)
memory usage: 62.7+ KB